<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.OrderDao">


    <update id="updatePayType">
        update dc_order set order_paytype=#{orderPayType} where order_num = #{orderNum}
    </update>
    <select id="findorderuserByUsername" resultType="com.heeexy.example.pojo.OrderUser">
        select * from dc_order_userinfo where user_name = #{username}
    </select>
    <select id="findorderitemByotId" resultType="com.heeexy.example.pojo.OrderItem">
        select * from dc_order_iteminfo where user_item = #{orderItemId}
    </select>
</mapper>